# To enable travis and code coverage, copy this file to your project
# Use the standard branch name of ContinuousIntegration
# Then go to Travis (https://travis-ci.org) and enable the repository
#   Click + on the top-left to view your available repositories
#   To trigger the first build, you may need to create a new Pull Request on the branch with travis info
# Then go to Codecov (https://codecov.io) and the code coverage information should already be there!
#   Add the codecov.yml file to tailor codecov settings
# To add badges, take a look at the README file attached to this project
# That's it! - JPK
language: node_js
node_js:
  - "8"
install:
  - npm install bespoken-tools@alpha -g
  - npm install codecov -g
  - cd lambda/custom && npm install && cd ../..
script:
 - bst test
 - codecov
cache:
  directories:
  - node_modules
